{% extends "base.html"%}
{% block title %}門禁相關設定{% endblock %}
{%block content %}
<h1>新增員工資訊</h1>
<form method="POST">
    <div class="form-horizontal">
        <div class="form-group">
             <div class="col-md-10">
                <font size="5"><span class="control-label col-md-2">員工名稱</span></font>
                <input type="text" class="form-control col-10" id="username" name="username" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <font size="5"><span class="control-label col-md-2">卡號</span></font>
                <input type="text" class="form-control col-10" id="cardnumber" name="cardnumber" required>
                </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <font size="5"><span class="control-label col-md-2">門群組名稱</span></font></br>
                {% for i in range(door_group_name_list | length) %}
                </br>
                <input type="checkbox" name="doorgroup" id="doorgroup" value="{{door_group_name_list[i]}}">
                <font size="5"><span class="control-label col-md-2">{{door_group_name_list[i]}} {{door_group_remark_list[i]}} </span></font>
                {% endfor %}
                </div>
        </div
        <div class="form-group">
            <div class="col-md-10">
                <font size="5"><span class="control-label col-md-2">卡片狀態</span></font>
                <input type="text" class="form-control col-10" id="status" name="status" required>
                </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <font size="5"><span class="control-label col-md-2">卡片啟用時間</span></font>
                <input type="text" class="form-control col-10" id="activation" name="activation" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <font size="5"><span class="control-label col-md-2">卡片過期時間</span></font>
                <input type="text" class="form-control col-10" id="expiration" name="expiration" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <font size="5"><span class="control-label col-md-2">備註說明</span></font>
                <input type="text" class="form-control col-10" id="remark" name="remark" >
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <font size="5"><span class="control-label col-md-2">創見時間</span></font>
                <input type="text" class="form-control col-10" id="creation_time" name="creation_time" value="{{now_time}}" required >
                <br>
                <input type="submit" class="btn btn-primary" value="新增">
                <a  class="btn" style="background-color: aqua;" href="{{ url_for('employ') }}">返回門禁設定</a>
            </div>
        </div>
    </form>
{%endblock%}

